:root {
	--color-dark-black: oklch(5% 0.05 89);
	--color-light-black: oklch(25% 0.05 89);
	--typography-common: oklch(100% 0.05 89);
	--typography-primary: oklch(100% 0 89);
	--typography-interactive: oklch(100% 0.5 89);
	--typography-interactive-hover: oklch(85% 0.5 89);
}

/* good default vite styles */
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: dark;
	color: var(--typography-common);
	background-color: var(--color-dark-black);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box
}

/* remove default padding */
ul,
ol {
	padding: 0;
}

/* remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* good default vite styles */
a {
	font-weight: 500;
	color: var(--typography-interactive);
	text-decoration: inherit;
}
a:hover {
	color: var(--typography-interactive-hover);
}

/* set core body defaults */
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* remove list styles on ul, ol elements with a class attribute */
ul,
ol {
	list-style: none;
}

/* make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

button {
	padding: 4px 8px;
	border-radius: 8px;
	border: none;
	display: inline-flex;
	gap: 4px;
	align-items: center;
	background-color: var(--color-light-black);
	color: var(--typography-interactive);
	cursor: pointer;
}

button:hover {
	outline: 2px solid var(--typography-interactive-hover);
}
